.sidebar-wrapper{
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 5vh 95vh;
  /*overflow-y: scroll;*/
  /*gap:;*/
}

.card-header{
  grid-row: 1;
  grid-column: 1/-1;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.card-header button{
  background: black;
  color: white;
  height: 100%;
  width: 10%;
  float:left;
  border: 1pt 1pt black;
  cursor: pointer;
  padding-top: 1px;
  padding-bottom: 1px;
  transition: 0.3s;
  align-items: center;
  justify-content: center;
}

.card-header button:hover:not(.card-header-tab){
  background: darkred;
}

.card-header button:not(.card-header-tab){
  width: 10%;
}
.card-header button:not(.card-header-button){
  width: 26%;
  background: darkred;
}
  
.card-header ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.card-header li{
  float: left;
}

.card-header li p{
  display: block;
  color: white;
  text-align: center;
  /*padding: 14px 16px;*/
  text-decoration: none;
}

.card-body{
  grid-row: 2;
  background-color: black;
  /*overflow-y: scroll;*/
}

.card-body-list{
  display: block;
  background-color: white;
  height: 100%;
  overflow-y: scroll;
  z-index: 4;
}

.card-body-list ul {
  list-style-type: square;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.card-body-list ul li {
  background: #cce5ff;
  margin: 0;
}

/*.section-list-item {
  margin: 0;
  background-color: darkseagreen;
}*/

.subject-button {
  background-color: darkred; /* Green */
  border: 1px solid black;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  /*font-size: 16px;*/
  z-index: 5;
  margin: 1px 1px;
  cursor: pointer;
}

.course-button-group{
  display: block;
  width: 100%;
}

.section-button-group{
  display: block;
  width: 100%;
}

.course-button {
  background-color: darkred;
  border: 1px solid black;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  /*font-size: 16px;*/
  margin: 1px 1px;
  cursor: pointer;
  z-index: 5;
}
.course-button-hide {
  background-color: darkred;
  border: 1px solid black;
  color: white;
  padding: 10px;
  text-decoration: none;
  display: none;
  text-align: left;
  width: 100%;
  /*font-size: 16px;*/
  margin: 1px 1px;
  cursor: pointer;
  z-index: 5;
}

.section-button {
  background-color: darkred;
  border: 1px solid black;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  /*font-size: 16px;*/
  z-index: 5;
  margin: 1px 1px;
  cursor: pointer;
}
.section-button-info {
  background-color: darkred;
  border: 1px solid black;
  color: white;
  padding: 10px;
  text-decoration: none;
  display: inline-block;
  text-align: left;
  width: 100%;
  /*font-size: 16px;*/
  margin: 1px 1px;
  cursor: pointer;
  z-index: 5;
}

