* {
  box-sizing: border-box;
}

.drawer-button-container{
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 20% 70% 10%;
  grid-template-areas: 'key name closer';
}

.course-key{
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-area: key;
}
.course-name{
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-area: name;
}
.button-exit{
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-area: closer;
}

.button-exit button{
  border: none;
}
